// Import page-specific CSS files here.
@import "home";

.container {
  display: flex;
}

.card {
  margin: 30px;
  background-color: white;
  width: 30rem;
}

.icons {
  display: flex;
}

.flex {
  padding: 20px;
}
